body {
  background-color: #23042e;
  margin: 0px !important;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

#classesContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
}

#rightSideBar {
  width: 30vw;
  border-left: 1px solid white;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

button {
  display: block;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.25)
}

.title {
  font-weight: bold;
  font-family: "Arial";
  color: #f4d43d;
  font-size: 32px;
}

.setReminderClass {
  height: 40px;
  padding: 0px !important;
}

#reminderDate {
  height: 92% !important;
}

#confirmReminder {
  display: inline-block;
  margin: 0px !important;
  height: 100% !important;
}

.classItem {
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  padding: 30px;
  margin: 20px;
  background-color: #3f1755;
}

.classItem {
  font-weight: bold;
  font-family: "Arial";
  color: #f4d43d;
}

.classInfoItem {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}

p {
  margin: 5px;
}

.className {
  font-size: 20px;
}

.section {
  font-size: 16px;
  margin-bottom: 10px;
}

.assignmentItem {
  font-family: "Roboto";
  font-size: 16px;
  color: #FFFFFF;
  margin: 10px;
}

.assignmentDiv {
  width: 90%;
  display: inline-block;
  margin-left: 5px;
}

input[type="checkbox"] {
  vertical-align: top;
}

.assignmentName {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  display: inline-block;
  width: 245px;
}

.modal {
  display: none;
  position: fixed;
  width: 50%;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #000000;
}