body {
  color: #ffffff;
  margin: 0px !important;
  font-family: "Verdana";
}

.background-image {
  background-image: url("background-image.png");
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(16px);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

#rightSideContainer {
  background-color: rgba(0, 1, 16, 0.9);
  width: 75vw;
  overflow: auto;
  height: 100%;
  text-align: center;
}

#reminderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 91%;
  width: 100%;
}

#innerReminderContainer {
  background-color: #000110;
  width: 80%;
  min-height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reminderBox {
  text-align: left;
  width: 60%;
  height: 100%;
}

input.input {
  background-color: rgba(0, 26, 44, 0.8);
  display: inline-block;
  padding: 10px;
  border-radius: 0.5rem;
  margin-right: 5px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: none;
  width: 200px;
}

input.input:focus {
  outline: none;
}

#arrowleft {
  background-color: rgba(0, 26, 44, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

#reminderTime {
  background-color: rgba(0, 26, 44, 0.8);
  display: inline-block;
  padding: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: none;
  width: 100px;
}

#reminderTime:focus {
  outline: none;
}

#reminderNameBox {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#reminderNameHr {
  display: inline-block;
  width: 90%;
}

#reminderName {
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

#reminderUnderline {
  border: none;
  height: 2px;
  background-color: white;
  margin-top: 0px;
}

#reminderDescriptionBox {
  margin-top: 30px;
  display: flex;
  align-items: top;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin-left: 7px;
}

#saveReminder {
  float: right;
  margin-top: 30px;
  background-color: #001446;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

#reminderDescription {
  background-color: rgba(0, 26, 44, 0.8);
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  height: 100%;
}

#descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 91%;
  width: 100%;
  position: relative;
}

#innerDescriptionContainer {
  background-color: #000110;
  width: 80%;
  height: 70%;
  text-align: left;
  overflow-y: auto;
  position: absolute;
}

#descriptionBox {
  text-align: left;
  width: 100%;
  padding-top: 65px;
}

#deleteReminder {
  background-color: #bf5949;
  color: white;
  float: right;
  margin: 20px 50px 0px 90%;
  display: block;
}

.reminderElement {
  margin: 2% 0px 2% 10%;
}

.reminderNameElement {
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 24px;
}

.reminderDateElement {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.deleteReminderCheckbox:checked+.reminderContentElement::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 8px;
  top: 15px;
  left: 5px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.deleteReminderCheckbox {
  position: absolute;
  left: -999em;
  line-height: 2.1ex;
}

.reminderContentElement {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 80%;
  display: inline-block;
}

.reminderEditButton {
  background-color: #004614;
  margin: 0px;
  color: inherit;
  position: absolute;
  right: 50px;
  display: inline-block;
}

.deleteReminderCheckbox+.reminderContentElement::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: rgba(0, 26, 44, 0.8);
  border-radius: 50%;
  margin-right: 7px;
}

.reminderNameDateElement {
  display: inline-block;
  width: 85%;
}

#classesContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

#leftSideBar {
  width: 25vw;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: #000110;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#userpicture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

#username {
  display: inline;
  margin-left: 20px;
}

.buttons {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}

.navigationButtons {
  background-color: transparent;
  color: white;
  font-size: min(1.5vw, 3vh);
  font-family: inherit;
  font-weight: bold;
  text-align: left;
}

i {
  margin-right: 10px;
}

button {
  display: block;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.25)
}

.title {
  font-weight: bold;
  font-size: 32px;
  padding-left: 20px;
  padding-top: 50px;
  margin: 0px;
  box-sizing: border-box;
}

.setReminderClass {
  height: 40px;
  padding: 0px !important;
}

#reminderDateBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 7px;
}

#confirmReminder {
  display: inline-block;
  margin: 0px !important;
  height: 100% !important;
}

.classItem {
  width: 345px;
  height: 360px;
  border-radius: 1rem;
  margin: 20px;
  background-color: #d9d9d9;
  position: relative;
  text-align: left !important;
}

.classInfoHr {
  height: 3px;
  background-color: #ffffff;
  border: none !important;
}

.classInfoItem {
  background-color: #43b1b1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-right: 3px solid #388080;
  border-left: 3px solid #388080;
  padding: 15px;
}

.allAssignmentsItem {
  padding-top: 10px;
  border-right: 3px solid #989898;
  border-left: 3px solid #989898;
  background-color: #d9d9d9;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 256px;
  overflow-y: auto;
}

.assignmentItem {
  font-size: 16px;
  margin: 10px;
  background-color: #ececec;
  border-radius: 0.8rem;
  padding: 5px;
  cursor: pointer;
}

p {
  margin: 5px;
}

.className {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
}

.section {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.assignmentDiv {
  width: 90%;
  display: inline-block;
  margin-left: 5px;
}

.assignmentName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 245px;
  color: #6aaf9f !important;
}

.assignmentDueDate {
  color: #51a89f;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}